@import "tailwindcss";

html {
  min-height: 100%;
  background: #fff;
}
body {
  min-height: 100%;
  margin: 0;
  background: #fff;
  color: #111;
}
#root {
  min-height: 100%;
  background: #fff;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-in {
  animation: slideInFromRight 1s ease-out forwards;
}
